.main {
  width:310px;  
}

.slots {
	font-size:100px;
  line-height:100px;
	font-family:arial,helvetica,sans-serif;
  text-align:center;
	overflow:hidden;
  height: 100px;
	float:left;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
}

.number-wrapper{
	margin-top: 0;
	width: 100px;
}

.number-wrapper:after,.number-wrapper:before {
  content: " ";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}

.number-wrapper:after {
    bottom: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
}

.number-wrapper:before {
    top: 0;
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0 );
}

input {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00;
  margin-left: 10px;
  margin-top: 0;
}

input:hover {
  cursor: pointer;
}

.button {
  float: left; 
}

$red: #760209;

/* Mixins */
@mixin spin {
	@-moz-keyframes spin /* Firefox */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@-webkit-keyframes spin /* Safari and Chrome */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@-ms-keyframes spin /* IE */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@-o-keyframes spin /* Opera */
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
	@keyframes spin
	{ 
		from { background-position: 0, 0 0; }
		to { background-position: 0, 0 -1580px; }
	}
}
@mixin animate($name, $duration: 2.5s, $timing: linear, $delay: 0s, $iteration: infinite) {
	-webkit-animation: $name $duration $timing $delay $iteration;
	-moz-animation: $name $duration $timing $delay $iteration;
	-o-animation: $name $duration $timing $delay $iteration;
	-ms-animation: $name $duration $timing $delay $iteration;
	animation: $name $duration $timing $delay $iteration;
}
@mixin animateNone {
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	-ms-animation: none;
	animation: none;
}
@mixin linearGradient($values...) {
  background-image: -webkit-linear-gradient($values);
  background-image: -moz-linear-gradient($values);
  background-image: -ms-linear-gradient($values);
  background-image: -o-linear-gradient($values);
}
@mixin linearGradientUrl($gradient, $url) {
  background-image: -webkit-linear-gradient($gradient), $url;
  background-image: -moz-linear-gradient($gradient), $url;
  background-image: -ms-linear-gradient($gradient), $url;
  background-image: -o-linear-gradient($gradient), $url;
}
@mixin transition($property: all, $duration: .3s, $timing: ease-in-out, $delay: 0s) {
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;  
}
@mixin twoLinearGradients($first, $second) {
  background-image: -webkit-linear-gradient($first), -webkit-linear-gradient($second);
  background-image: -moz-linear-gradient($first), -moz-linear-gradient($second);
  background-image: -ms-linear-gradient($first), -ms-linear-gradient($second);
  background-image: -o-linear-gradient($first), -o-linear-gradient($second);
}
@mixin radialGradient($values...) {
  background-image: -webkit-radial-gradient($values);
  background-image: -moz-radial-gradient($values);  
  background-image: -ms-radial-gradient($values);  
  background-image: -o-radial-gradient($values); 	
}
@mixin rotate($values...) {
	-webkit-transform: rotate($values);
	-moz-transform: rotate($values);
	transform: rotate($values);	
}
@mixin origin($values...) {
	-webkit-transform-origin: $values;
	-moz-transform-origin: $values;
	transform-origin: $values;
}
@mixin boxSizing ($value: border-box) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}
@mixin transform($values...) {
	-webkit-transform: $values;
	-moz-transform: $values;
	transform: $values;	
}

@include spin;
#equation {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -80px;
	span {
		display: inline-block;
		vertical-align: middle;
		margin-right: 12px;
	}
	.spinner {
		height: 140px;
		margin: 10px;
		margin-right: 12px;
		background-color: #FFF;
		background-position: 0;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #000;
		position: relative;
		@include animate(spin, $duration: 3s, $timing: linear);
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -10px;
			left: -10px;
			width: 120px;
			height: 160px;
			border-radius: 10px;
			background-color: #333;
			@include linearGradient(#666 0%, #333 60%, #666 100%);
			box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.2);
		}
	}	
	.drink {
		@include linearGradientUrl((hsla(0,0%,0%,.6) 0%, hsla(0,0%,0%,0) 15%, hsla(0,0%,0%,0) 85%, hsla(0,0%,0%,.6) 100%),url('http://media.balsamiq.com/img/hashtaghot/drinks.jpg'));
		width: 80px;
		background-size: 80px auto;
		background-position: 0, 0 20px;
  &:before {
			width: 100px;
		}
	}
  &.zero .drink {
     background-position: 0, 0 -1580px;
  }
  &.one .drink {
     background-position: 0, 0 -1680px;
  }
  &.two .drink {
     background-position: 0, 0 -1780px;
  }
  &.three .drink {
     background-position: 0, 0 -1880px;
  }
  &.four .drink {
     background-position: 0, 0 -1980px;
  }
  &.five .drink {
     background-position: 0, 0 -2080px;
  }
  &.six .drink {
     background-position: 0, 0 -2180px;
  }
  &.seven .drink {
     background-position: 0, 0 -2280px;
  }
  &.done {
		.spinner {
			@include animateNone;
			@include transition($property: background-position, $duration: 2s, $timing: ease-out);
		}
  }
}
#shoulder {
	position: absolute;
	top: 30px;
	left: -100px;
	width: 80px;
	height: 100px;
	border-radius: 10px;
	background-color: #333;
	@include linearGradient(#666 0%, #333 60%, #666 100%);
	box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.2);
}
#arm {
	//*** BASE ***//
	position: relative;
	top: 10px;
	left: 10px;
	cursor: pointer;
	width: 60px;
	height: 80px;
	border-radius: 10% / 50%;
	background-color: #666;
	@include twoLinearGradients((left, hsla(0,0%,0%,.3) 0%, hsla(0,0%,0%,0) 15%, hsla(0,0%,100%,0) 50%, hsla(0,0%,0%,0) 85%, hsla(0,0%,0%,.3)),(top, #333 0%, #666 10%, #999 30%, hsla(0,0%,100%,.8) 60%, #999 70%, #666 90%, #333 100%));
	&:before {
		//*** POLE ***//
		content: '';
		position: absolute;
		top: -40px;
		left: 16px;
		width: 16px;
		height: 70px;
		border-radius: 8px;
		box-shadow: 0px 2px 0px #333;
		background-color: #999;
		@include rotate(-10deg);
		@include linearGradient(left, #666 0%, hsla(0,0%,100%,.7) 50%, #666 100%);
		background-image: linear-gradient(to right, #666 0%, hsla(0,0%,100%,.7) 50%, #666 100%);
		@include transition($duration:.5s);
	}
	&:after {
		//*** BALL ***//
		content: '';
		position: absolute;
		top: -70px;
		left: -4px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: $red;
		border: 2px solid darken($red, 5%);
		@include boxSizing;
		@include radialGradient(50% 40%, closest-corner, hsla(0,0,100%,.5), hsla(0,0%,100%,0));
		@include transition($duration:.5s);
	}
}
#arm.clicked {
	&:before {
		top: -20px;
		left: 20px;
		@include transform(rotate3d(100,10,0,180deg));
		@include origin(0% 100%);
		@include transition($duration:.5s);
	}
	&:after {
		top: 90px;
		@include transition($duration:.5s);
	}
}
