

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body ul {
	list-style-type: none;
}

.glyphicon-home {
	padding-left: 10px;
}

.info {
	margin: 20px 0;

}

.info .glyphicon::before {
	padding-right: 10px;
}
.continue-button p{
	width: 100%;
}
.main-image-container {
	margin-top: 20px;
}
.main-image {
	width: 100%;
}
.num {
	padding-left: 10px;
}
.info-container {
	margin-top: 30px;
}
.info h2 {
	margin-top: 0;
	margin-bottom: 30px;
}
.info ul li {
	font-size: 20px;
}








