/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body ul {
    list-style-type: none;
}
.glyphicon-home {
    padding-left: 10px;
}
.info-container .glyphicon::before {
    padding-right: 10px;
}
.button-container p {
    width: 100%;
}
.main-image-container {
    margin-top: 20px;
}
.main-image {
    width: 100%;
}

.img-container {
	margin-bottom: 20px;
}

.info-container .num {
    padding-left: 10px;
}
.info-container {
}
.info-container .info-container h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.info-container {
    font-size: 20px;
}
footer {
	width:100%;
    position: absolute;
    bottom: 0;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: portrait) {
	.img-container {
		margin-bottom: 50px;
	}
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
	.img-container {
		margin-bottom: 70px;
	}
}