

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body ul {
	list-style-type: none;
}

.glyphicon-home {
	padding-left: 10px;
}

.info {
	margin: 20px 0;

}

.info .glyphicon::before {
	padding-right: 10px;
}
.continue-button p{
	width: 100%;
}
.jumbotron {
	padding: 0;
	margin: 0;
	background-color: #fff;
}
.vic-img {
	background-image: url("../img/win.png");
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 0;
	margin: 0;
}
.num {
	padding-left: 10px;
}
.info-container {
	margin-top: 50px
}
.info h2 {
	margin-top: 0;
	margin-bottom: 30px;
}
.info ul li {
	font-size: 20px;
}








