.careers main {
    bottom: 100px;
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 100%;
}

.careers .role-col {
    height: 100%;
    padding: 5px;
}

.careers .role {
    height: 100%;
    text-align: center;
}

.careers .role img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.careers .role .title {
    bottom: 0px;
    display: inline-block;
    left: 0;
    position: absolute;
    width: 100%;
}

.careers .no-role {
    color: rgba(0, 0, 0, .5);
    border: 5px dashed rgba(0, 0, 0, .5);
}

.careers .no-role:hover {
    color: rgba(255, 255, 255, .5);
    border: 5px dashed rgba(255, 255, 255, .5);
}

.careers .no-role .title {
    bottom: 20px;
}

.careers .role i {
    color: rgba(0, 0, 0, .5);
    font-size: 64px;
    margin-top: 100px;
}

.careers .role:hover i {
    color: rgba(255, 255, 255, .5);
}

.careers footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

/* .careers .btn { */
/*     border-radius: 0; */
/*     border-top: 5px solid #ddd; */
/*     color: #aaa; */
/*     font-size: 12px; */
/*     padding: 10px 5px; */
/* } */

.navbar-fixed-bottom .btn span {
    display: block;
    margin-bottom: 5px;
}

.navbar-fixed-bottom .btn {
    border-radius: 0;
    border-top: 5px solid #ddd;
    color: #aaa;
    font-size: 12px;
    padding: 10px 5px;
}
