<!DOCTYPE html>
<html>
  <head>
    <title>職業選擇</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../assets/lib/js/jquery.js"></script>
    <script src="../../assets/lib/js/bootstrap.js"></script>
    <script src="../../assets/lib/js/jquery.validate.js"></script>
    <script src="../../assets/js/cookie.js"></script>
    <script src="../../assets/js/facebook.js"></script>
    <script src="../config/server_config.js"></script>
    <script src="../config/page_config.js"></script>
    <script src="../personalpage/data/profile_data.js"></script>
    <script src="careers.js"></script>
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="../../assets/lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheet/bootstrap-extensions.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="careers.css">
  </head>
  <body class="careers">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class='navbar-brand'> 職業列表</a>
      </div>
    </div>
  </nav>
    <main class="container-fluid">
      <div class="col-xs-4 role-col">
        <div id="role-1" class="role no-role">
          <a href="../class_selection/class_selection.html">
            <i class="fa fa-plus-circle"></i>
          </a>
          <span class="title">選擇職業</span>
          <!-- <button type="button" class="delCareerBtn">刪除!</button> -->
        </div>
      </div>
      <div class="col-xs-4 role-col">
        <div id="role-2" class="role no-role">
          <a href="../class_selection/class_selection.html">
            <i class="fa fa-plus-circle"></i>
          </a>
          <span class="title">選擇職業</span>
          <!-- <button type="button" class="delCareerBtn">刪除!</button> -->
        </div>
      </div>
      <div class="col-xs-4 role-col">
        <div id="role-3" class="role no-role">
          <a href="../class_selection/class_selection.html">
            <i class="fa fa-plus-circle"></i>
          </a>
          <span class="title">選擇職業</span>
        </div>
      </div>
    </main>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="btn-group btn-group-justified" role="group">
        <a class="btn btn-default btn-lg" href="../personalpage/personal_mobile.html">
          <span class="glyphicon glyphicon-user"></span>
          個人
        </a>
        <a class="btn btn-default btn-lg active" href="./">
          <span class="glyphicon glyphicon-briefcase"></span>
          職業
        </a>
        <a class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-cog"></span>
          設定
        </a>
      </div>
    </nav>
    <script>
      Careers.init();
    </script>
  </body>
</html>
