<!DOCTYPE html>
<html>
  <head>
    <title>職業選擇</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../assets/lib/js/jquery.js"></script>
    <script src="../../assets/lib/js/bootstrap.js"></script>
    <script src="../../assets/lib/js/jquery.validate.js"></script>
    <script src="../../assets/js/facebook.js"></script>
    <script src="../config/server_config.js"></script>
    <script src="../config/page_config.js"></script>
    <script src="careers.js"></script>
    <!--stylesheets-->
    <link rel="stylesheet" type="text/css" href="../../assets/lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheet/bootstrap-extensions.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="careers.css">
  </head>
  <body class="bg-primary careers">
    <header>
      <div class="container-fluid">
        <h1>八大領域</h1>
      </div>
    </header>
    <main class="container-fluid">
    </main>
    <footer>
      <div class="btn-group btn-group-justified" role="group">
        <a class="btn btn-default btn-lg">個人</a>
        <a class="btn btn-default btn-lg">職業</a>
        <a class="btn btn-default btn-lg">設定</a>
      </div>
    </footer>
  </body>
</html>
