.jobsTutorials li:hover {
    background-color:red;
}

#dialog img {
    width:100%;
    height:100%;
}

#dialog {
    text-align:center;
}

#dialog button {
    width:100%;
    height:40px;
}
#goToTigerModel .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.modal-content {
    text-align: center;
    padding: 30px;
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
.modal-content button a{
    display: block;
    padding: 10px;
}

.navbar-fixed-bottom .btn {
    border-radius: 0;
    border-top: 5px solid #ddd;
    color: #aaa;
    font-size: 12px;
    padding: 10px 5px;
}