html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    color: white;
}

h4 {
    color: yellow;
}

#question h3 {
    font-size: 3vh;
}

#question h4 {
    font-size: 3vh;
}

#question .content {
    overflow-y: auto;
    height: 12vh;
}

@media (max-width: 320px) {
    #question .content {
        overflow-y: auto;
        height: 7vh;
    }
}

#answer {
    font-size: 2.5vh;
}

.main {
    height: 100%;
    width: 100%;
}

.training-room {
    margin-top: 60px;
}

.enemy {
    height: 20%;
    position: relative;
}

.user {
    /* background-color: #07BA92; */
    margin-top: 90%;
    height: 10%;
}

.role {
    text-align: center;
    height: 70%;
    width: 70%;
    margin: 4% auto;
}

.role img {
    height: 100%;
    width: 100%;
    margin-top: -10%;
}

.question #counter {
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: white;
    background-image: url("../test/battle_timer_background.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.answer-block {
    margin-top: 20px;
    text-align: center;
}

#result img {
    max-height: 50px;
}


/* item animation*/

.tools {
    height: 2.5em;
    padding: 0;
    margin: 0;
    text-align: right;
    z-index: 9;
}

.tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tools ul li {
    padding: 5px;
}

.item {
    cursor: pointer;
    width: 2.4em;
    height: 2.4em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.item:hover {
    width: 4.5em;
    height: 4.5em;
    margin-bottom: -2.1em;
    margin-left: -2.1em;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#battleview {
    background-image: url('https://www.filepicker.io/api/file/orJRL2bZTe23G2RQRO5V');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.question {
    background-image: url('../test/dialog.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50%;
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .user {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .tools ul li {
        display: inline-block;
    }
    #question {
        height: 100%;
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .questionitem-block {
        height: 100%;
        padding: 5px;
    }
    .questionitem-block p {
        margin: 0;
    }
}

.answer_label {
    color: white;
    text-align: left;
    padding-left: 5px;
}
