html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  width: 100%;
}

.enemy{
	background-color: #8080FF;
  background-image: url(../img/avatar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	height: 40%;
}

.user{
	background-color: #07BA92;
	height: 60%;
}

.content{
}

.blood-flow {
  background-color: rgba(255, 255, 255, .5);
  height: 25px;
}

.user .blood-flow {
  box-sizing: border-box;
  height: 50px;
  padding-top: 5px;
}

.user .clock {
  float: left;
  font-size: 40px;
}

.tools {
  background-color: #888;
  height: 30px;
}

.tools ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.tools li {
  display: inline-block;
}

.tools li button {
  padding: 0;
}

.question {
}

.answer-block {
  padding: 50px;
  text-align: center;
}

#result img {
  max-height: 50px;
}

.jquery-ui-like {
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #AAA;
  overflow: hidden;   
}
.jquery-ui-like div {
  background-image: url(../../assets/img/HP.gif);
  border-right: 1px solid #AAA;
}