html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.main {
    height: 100%;
    width: 100%;
    margin-top: 60px;
}
.user, .enemy {
  padding: 0;
}
.enemy {
    /* background-color: #8080FF; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.user {
    /* background-color: #07BA92; */
}
.role {
    text-align: center;
}
.role img {
    display: inline-block;
}
.blood-flow {
    background-color: rgba(255, 255, 255, .5);
}
.user .blood-flow {
    box-sizing: border-box;
}
.question #counter {
    text-align: center;
    font-size: 40px;
}
.answer-block {
    margin-top: 20px;
    text-align: center;
}
#result img {
    max-height: 50px;
}
/* item animation*/

.tools {
    height: 2.5em;
    padding: 0;
    margin: 0;
    text-align: right;
}

.tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tools ul li {
  padding: 5px;
}

.item {
    cursor: pointer;
    width: 2.4em;
    height: 2.4em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.item:hover {
    width: 4.5em;
    height: 4.5em;
    margin-bottom: -2.1em;
    margin-left: -2.1em;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
#battleview {
  background-image: url('http://1cv4y131sweukg8sr2f7vd57.wpengine.netdna-cdn.com/wp-content/uploads/windows-xp-desktop-background-wallpaper-bliss-800x600.jpg') ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 40%;
  overflow: hidden;
  position: relative;
}
.question {
  background-color: #07BA92;
  height: 60%;
}

#question {
}

#truefalsequestion {
  overflow: scroll;
  height: 100%;
}

@media (max-width: 768px) {
  .user {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .tools ul li {
    display: inline-block;
  }
  #question {
      padding-top: 60px;
  }
}
