html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

.main {
    height: 100%;
    width: 100%;
}

.training-room {
    margin-top: 60px;
}

.user,
.enemy {
    padding: 0;
}

.enemy {
    /* background-color: #8080FF; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.user {
    /* background-color: #07BA92; */
}

.role {
    text-align: center;
    height: 70%;
    width: 70%;
    margin: 0 auto;
}

.role img {
    height: 100%;
    width: 100%;
    margin-top: -10%;
}

.blood-flow {
    height: 20%;
}

.blood-flow img {
    height: 100%;
    width: 100%;
    margin-top: -10%;
}

.user .blood-flow {
    box-sizing: border-box;
}

.question #counter {
    text-align: center;
    font-size: 40px;
}

.answer-block {
    margin-top: 20px;
    text-align: center;
}

#result img {
    max-height: 50px;
}


/* item animation*/

.tools {
    height: 2.5em;
    padding: 0;
    margin: 0;
    text-align: right;
}

.tools ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tools ul li {
    padding: 5px;
}

.item {
    cursor: pointer;
    width: 2.4em;
    height: 2.4em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.item:hover {
    width: 4.5em;
    height: 4.5em;
    margin-bottom: -2.1em;
    margin-left: -2.1em;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#battleview {
    background-image: url('https://www.filepicker.io/api/file/orJRL2bZTe23G2RQRO5V');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.question {
    background-image: url('../test/dialog.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 50%;
    overflow: hidden;
    position: relative;
}

#truefalsequestion {
    overflow: scroll;
    height: 100%;
}

@media (max-width: 768px) {
    .user {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .tools ul li {
        display: inline-block;
    }
    #question {
        padding-top: 60px;
    }
}
.answer_but {
}

.answer_label {
    color : white;
    text-align : left;
    padding-left : 5px;
}
