html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#showme {
  text-align: center;
  width: 200px;
}

#showme #hint-timer {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: -30px;
}

#fancybox-content {
  overflow: visible!important;
}
#fancybox-content div {
  overflow: visible!important;
}

#divtoBlink{
      -webkit-transition: background 1.0s ease-in-out;
      -moz-transition:    background 1.0s ease-in-out;
      -ms-transition:     background 1.0s ease-in-out;
      transition:         background 1.0s ease-in-out;
      width: 100%;
      height: 100%;
      z-index: 1000;
      top:0;
      position:fixed;
      _position:absolute;
}

.background-red{
  background: #F00;
}


.main {
  height: 100%;
  width: 100%;
  -1
}



.enemy{
	background-color: #8080FF;
  background-image: url(../img/avatar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	height: 40%;
}

.user{
	background-color: #07BA92;
	height: 60%;
}

.blood-flow {
  background-color: rgba(255, 255, 255, .5);
  height: 25px;
}

.user .blood-flow {
  box-sizing: border-box;
  height: 50px;
  padding-top: 5px;
}

.user #counter {
  float: left;
  font-size: 40px;
}

.tools {
  background-color: #888;
  height: 30px;
}

.tools ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.tools li {
  display: inline-block;
}

.tools li button {
  padding: 0;
}

.question {
}

.answer-block {
  padding: 50px;
  text-align: center;
}

#result img {
  max-height: 50px;
}

#luckystar {
  cursor: pointer;
}
.potionBtn {
  width: 2%;
  height: 2%;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.potionBtn:hover {
  width: 2%;
  height: 2%;
  -webkit-transform: rotate(-20deg);
     -moz-transform: rotate(-20deg);
       -o-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
