/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.questionitem {
  border: 1px solid blue;
  height: 500px;
  margin-bottom: 20px;
  position: relative;
}
.questionitem img{
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.trueitem, .falseitem {
  border: 1px solid black;
  height: 200px;
  text-align: center;
  vertical-align: center;
}
.btn {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform:  translateY(-50%);
}



