.jquery-ui-like-enemy {
    border-radius: 4px;
    overflow: hidden;
    margin: 5% auto 0;
    width: 85%;
}

.jquery-ui-like-user {
    border-radius: 4px;
    overflow: hidden;
    width: 85%;
    margin: auto;
}

.enemyHP div {
    background-image: url(../../../assets/img/HP_user.gif);
}

.enemyHP img {
    width: 100%;
}

.userHP div {
    background-image: url(../../../assets/img/HP_enemy.gif);
}

@media screen and (max-width: 320px) {
    body {
        font-size: 12px;
    }
}
