.jquery-ui-like {
  border-radius: 4px;
  background: #FFF;
  border: 1px solid #AAA;
  overflow: hidden;   
}
.jquery-ui-like div {
  border-right: 3px solid #AAA;
}

.enemyHP div{ 
	background-image: url(../../../assets/img/HP_user.gif);
}

.userHP div{ 
	background-image: url(../../../assets/img/HP_enemy.gif); 
}