<div id="truefalsequestion">
  
  <div class="questionitem-block col-md-12 ">
    <h3 class="title">Title</h3>
    <h3 class="content">Content</h3>
    <h3 class="hint">Hint</h3>
  </div>

  <div class="answer-block col-sm-12">
    <div id="result">
      <img id='correctImg' src="assets/img/correct.png" alt="correct">
      <img id='wrongImg' src="assets/img/wrong.png" alt="wrong">
    </div>

    <div id="answer"class="row">
      <button id="trueButton" class="col-xs-6 trueitem btn btn-primary">Yesfuck yeah!</button>
      <button id="falseButton" class="col-xs-6 falseitem btn btn-danger">No</button>
    </div>
  </div>

</div>

<script> 
  //runTest();
</script>
