<div id="truefalsequestion">
    <div class="questionitem-block col-md-12 ">
        <h3 class="title text-center">Title</h3>

        <h4 class="content">Content</h4>
        <!-- <h3 class="hint">Hint</h3> -->
    </div>

    <div class="answer-block col-sm-12">
        <div id="answer" class="row">
            <button class="col-xs-6 trueitem flat-butt flat-primary-butt
            flat-primary-grad-butt" val="true">YES</button>
            <button class="col-xs-6 falseitem flat-butt flat-danger-butt
            flat-danger-grad-butt" val="false">NO</button>
        </div>
        <div id="result">
            <img id='correctImg' src="assets/img/correct.png" alt="correct">
            <img id='wrongImg' src="assets/img/wrong.png" alt="wrong">
        </div>
    </div>

</div>
