<div id="linklinkquestion">
    <div class="questionitem-block col-md-12 ">
<!--         <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas beatae maxime eos, autem aliquam blanditiis quidem aliquid nisi velit dolor, delectus optio voluptatum provident fuga.</p> -->
        <h3 class="title text-center">Title</h3>
        <!-- <h3 class="content">Content</h3> -->
        <h4 class="hint">Hint</h3>
    </div>
    
    <div class="linkLinkFiled col-sm-12">
        <div class="row">
            <div id="choseItemFiled" class="col-xs-6">
            <div class="choseItem ui black basic button"><span>A</span></div>
            <div class="choseItem ui black basic button"><span>B</span></div>
            <div class="choseItem ui black basic button"><span>C</span></div>
            <div class="choseItem ui black basic button"><span>D</span></div>
            </div>
            <div id="resultItemFiled" class="col-xs-6">
                <div class="resultItem ui red inverted button"><span>LinkA</span></div>
                <div class="resultItem ui red inverted button"><span>LinkB</span></div>
                <div class="resultItem ui red inverted button"><span>LinkC</span></div>
                <div class="resultItem ui red inverted button"><span>LinkD</span></div>
            </div>
        </div>
    </div>
    <div class="ui basic button inverted" id="llkConfirmBtn">
        <i class="pointing up icon"></i>confirm
    </div>
</div>
