<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div id="linklinkquestion">
    <div class="questionitem-block col-md-12 ">
        <h3 class="title">Questions</h3>
    </div>
    <div class="linkLinkFiled col-sm-12">
        <div class="row">
            <div id="choseItemFiled" class="col-xs-4 col-xs-offset-2">
                <div class="choseItem">A</div>
                <div class="choseItem">B</div>
                <div class="choseItem">C</div>
                <div class="choseItem">D</div>
            </div>
            <div id="resultItemFiled" class="col-xs-4">
                <div class="resultItem">LinkA</div>
                <div class="resultItem">LinkB</div>
                <div class="resultItem">LinkC</div>
                <div class="resultItem">LinkD</div>
            </div>
        </div>
    </div>
</div>
