.questionitem-block, .linkLinkFiled .row {
	text-align: center;
}
#linklinkquestion {
	margin-top: 20px;
}
.questionitem-block {
	border: 1px #eee solid;
	padding: 5px;
}
.linkLinkFiled {
	margin: 20px 0;
}
.questionitem-block p {
	margin: 0;
}
.choseItem, .resultItem {
	margin-top: 5px;
	margin-bottom: 5px;
}
.choseItem {
	border: 0.5px #222 solid;
}
.resultItem {
	border: 0.5px #333 solid;
}
#llkConfirmBtn {
	width: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
}