<div id="choicequestion">

    <div class="questionitem-block col-md-12 ">
        <h3 class="title">Title</h3>
        <h3 class="content">Content</h3>
        <h3 class="hint">Hint</h3>
    </div>

    <div class="answer-block col-sm-12">
        <div id="answer" class="row">
            <input type="radio"
                    name="answers"
                    id ="r1"
                    value="V1" />
            <input type="radio"
                    name="answers"
                    id ="r2"
                    value="V2" />
            <input type="radio"
                    name="answers"
                    id ="r3"
                    value="V3" />
            <button class="col-xs-6 trueitem btn btn-primary" val="Yes">確認</button>
        </div>
        <div id="result">
            <img id='correctImg' src="assets/img/correct.png" alt="correct">
            <img id='wrongImg' src="assets/img/wrong.png" alt="wrong">
        </div>
    </div>

</div>
