<div id ="problem" class="col-md-12 questionitem" onload="questioninit()">
  <h3 class="title">thsi is title</h3>
  <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, nihil!</div>
</div>

<div class="answer-block col-sm-12">
  <div id="result" style="display: none;">
    <p>result (not finished)</p>
    <img src="assets/img/true.png" alt="">
    <img src="assets/img/false.png" alt="">
  </div>
  <div id="answer"class="row">
    <button id="trueButton" class="col-xs-6 trueitem btn btn-primary">Yesfuck yeah!</button>
    <button id="falseButton" class="col-xs-6 falseitem btn btn-danger">No</button>
  </div>
</div>
<script>
questioninit();
</script>