<!DOCTYPE html>
<html>
<head>
<title>Welcome to BatonHunter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="../../assets/lib/js/jquery.js"></script>
<script src="../../assets/lib/js/bootstrap.js"></script>
<script src="../../assets/js/cookie.js"></script>
<script src="data/profile_data.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<!--stylesheets-->
<link rel="stylesheet" type="text/css" href="../../assets/lib/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="personal.css">
</head>
<body class="">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class='navbar-brand' href='javascript:'>個人頁面</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 text-center headpic"><img id="profile-pic" alt="Profile picture of this player"></div>
      <div class="col-xs-6 personal_attr">
        <p>姓名：<span id="profile-name"></span></p>
        <p>角色：<span id="profile-job"></span></p>
        <p>稱號：<span id="profile-nick"></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div id="radar-chart"></div>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-default col-xs-6 disabled" href="#" role="button">道具</a>
      <a class="btn btn-default col-xs-6 disabled" href="#" role="button">卡片</a>
    </div>
    <div class="row">
      <a class="btn btn-default col-xs-6 disabled" href="#" role="button">天賦轉職</a>
      <a class="btn btn-default col-xs-6 disabled" href="#" role="button">能力配置</a>
    </div>
    <div class="row">
    </div>
</div>

<script>
var profile_fbid = Profile.getfbID();
var profile_name = Profile.getName();
var profile_job = '星光舞者';
var profile_nick = '初心學徒';
var profile_strength = Profile.getStrength();


//$('img#profile-pic').attr("src", "https://graph.facebook.com/" + profile_fbid + "/picture?width=9999");
$('img#profile-pic').attr("src", Profile.getPic());
$('#profile-name').text(profile_name);
$('#profile-job').text(profile_job);
$('#profile-nick').text(profile_nick);


var myChart = echarts.init(document.getElementById('radar-chart'));

option = {
    tooltip: {
        trigger: 'axis'
    },
    polar: [
       {
           indicator: [
               { text: '行動力', max: 60},
               { text: '好奇心', max: 60},
               { text: '知識力', max: 60},
               { text: '思考力', max: 60},
               { text: '語文力', max: 60},
               { text: '人際力', max: 60},
               { text: '肢體力', max: 60},
               { text: '音樂力', max: 60}
            ]
        }
    ],
    calculable: true,
    series: [
        {
            type: 'radar',
            data : [
                {
                    value: profile_strength,
                    name: '能力',
                }
            ]
        }
    ]
};

myChart.setOption(option);
</script>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="btn-group btn-group-justified" role="group">
    <a class='btn btn-default btn-lg active' href='javascript:'>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
      個人
    </a>
    <a class='btn btn-default btn-lg' href='javascript:'>
      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span><br>
      職業
    </a>
    <a class='btn btn-default btn-lg' href='javascript:'>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br>
      設定
    </a>
  </div>
</nav>
</body>
</html>

