body {
	background-color: #fff;
  padding-top: 60px;
  padding-bottom: 70px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.name, .career, .nickname, .large-font {
	font-size: 32px;
	color: black;
}

.ability_radar {
	width: 80%;
	height: 80%;
}

.bg-yellow {
	background-color: yellow;
}

.bg-brown {
	background-color: brown;
}

.color-white {
	color: white;
}

.personal_attr {
  padding: 1em;
}

.headpic img {
  width: 100%;
}

.personal-btn-mobile {
  background-color: red;
  color: white;
}

#radar-chart {
  min-height: 200px;
  max-height: 300px;
  max-width: 300px;
  margin: auto;
}
