#showme {
    text-align: center;
    width: 200px;
}
#showme #hint-timer {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0px;
}
#fancybox-content {
    overflow: visible!important;
}
#fancybox-content div {
    overflow: visible!important;
}
.background-red {
    opacity: 0.7;
    background: #F00 !important;
}