/* 拉把 */
.main {
    width: 310px;
}

/*底座定位*/
#slotPosition {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -80px;
}

/*底座定位*/
#slotBase {
    position: absolute;
    top: 30px;
    left: -100px;
    width: 80px;
    height: 100px;
    border-radius: 10px;
    /*background-color: #CB9069;*/
    border: 1px solid;
    background-color: #333;
    background-image: -webkit-linear-gradient(#666 0%, #333 60%, #666 100%);
    
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2);
}

#slotArm {
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 60px;
    height: 80px;
    border-radius: 10%/50%;/*水平 垂直 圓角 特殊寫法*/
    /*background-color: #CB9069;*/
    background-color: #666;
    
    border: 1px solid;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, transparent 15%, rgba(255, 255, 255, 0) 50%, transparent 85%, rgba(0, 0, 0, 0.3)), -webkit-linear-gradient(top, #333 0%, #666 10%, #999 30%, rgba(255, 255, 255, 0.8) 60%, #999 70%, #666 90%, #333 100%);
}

/*拉桿 */
#slotArm:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 16px;
    width: 16px;
    height: 70px;
    border-radius: 8px;
    border: 1px solid;
    box-shadow: 0px 2px 0px #333;
    /*background-color: #CB9069;*/
    background-color: #999;
    
    transform: rotate(-10deg);
    /*background-image: -webkit-linear-gradient(left, #CB9069 0%, rgba(129, 38, 38, 0.5) 25%, rgba(129, 38, 38, 0.7) 50%, rgba(129, 38, 38, 0.5) 75%, #CB9069 100%);*/
    background-image: -webkit-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    /*background-image: -moz-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);*/
    /*background-image: -ms-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    background-image: -o-linear-gradient(left, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);
    background-image: linear-gradient(to right, #666 0%, rgba(255, 255, 255, 0.7) 50%, #666 100%);*/
    
    transition: all 0.5s ease-in-out 0s;
}

/*拉桿球 */
#slotArm:after {
    content: '';
    position: absolute;
    top: -70px;
    left: -4px;
    width: 40px;
    height: 40px;
    /*border-radius: 50% 50% 10% 10%;*/
    border-radius: 100%;

    /*改拉桿球顏色 */
    background-color: #760209;
    /*background-color: white;*/
    /*background-color: #C86C64;*/
    /*background-color: #D870A4;*/

    border: 1px solid #5d0207;
    box-sizing: border-box;
    transform: rotate(-10deg);
    /*background-image: -webkit-radial-gradient(50% 27%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));*/
    background-image: -webkit-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    /*background-image: -moz-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));*/
    /*background-image: -ms-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-radial-gradient(50% 40%, closest-corner, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));*/
    
    transition: all 0.5s ease-in-out 0s;
}

/*拉桿-點擊後 */
#slotArm.clicked:before {
    top: -20px;
    left: 20px;

    /*旋轉*/
    transform: rotate3d(100, 10, 0, 180deg);

    /*基準點,預設(50%,50%) */
    transform-origin: 0% 100%;

    /*轉場特效*/
    transition: all 0.5s ease-in-out 0s;
}

/*拉桿球-點擊後 */
#slotArm.clicked:after {
    /*旋轉後位置*/
    top: 70px;
    transition: all 0.5s ease-in-out 0s;

    /*旋轉*/ 
    -webkit-transform: rotate3d(100, 10, 0, 180deg);
    transform-origin: 0% 100%;
}

/* Slots */
.slots {
  border: 1px solid #aaa;
  display: inline-block;
  height: 140px;
  overflow: hidden;
  text-align: center;
  width: 80px;
}

.slots .slot {
  font-size: 100px;
}
